/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/cscope.out
/test-driver
*~
.*
!.git*
!.travis.yml
*.tar.gz
*.o
*.deps
*.log
*.trs
*.lo
*.la
Makefile
Makefile.in
__pycache__/
*.py[co]
*.deb
