/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/tlog
/cscope.out
/test-driver
*~
.*
*.tar.gz
*.o
*.deps
*.log
*.trs
Makefile
Makefile.in
